body{
    background-position: center;
    background-size: cover;
}

.header{
    width: 100%;
    padding-top: 0px;
}

.header h1{
    letter-spacing: 2px;
    font-family: 'Courgette', cursive;
}

.header p{
    color: black;
}

.input_class{
    width: 25%;   
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.object_name{
    color: black;
    font-family: 'Courgette', cursive;
}

canvas{
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 7px 7px 30px rgb(60, 59, 59);
}